.blog__items {
    display: flex;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}

.blog__item {
    text-align: left;
    flex: 0 0 25%;
    min-width: 0;
    padding: 0 15px;

    h3 {
        color: $primary-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}