footer {
    background: $ternary-bg-color;
}

.footer {
    &__links ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-top: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0;
            background: lighten($ternary-bg-color, 7%);
            left: 150px;
            right: 150px;
        }
    }

    &__link {
        width: 50px;
        height: 50px;
        background: transparent url(#{$img-url}/social.png) no-repeat;
        background-size: 230%;

        &--fb {
            background-position: 15px 0px;
        }

        &--tw {
            background-position: -31px 0px;
        }

        &--gp {
            background-position: -84px 0px;
        }

        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__text {
        text-align: center;
        color: $ternary-text-color;
        padding-bottom: 40px;
    }
}