/**
 *  General
 */

.content {
    width: 100%;

    // height: 100%;
    min-width: $min-width;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;

    &__wrapper {
        width: 1126px;
        margin: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;

        > h2 {
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    &--main {
        background-image: url("https://res.cloudinary.com/expz/image/upload/v1481828970/intro_bg_ojy7pz.png");
        background-size: cover;
        position: relative;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &--mission, &--members {
        background: $secondary-bg-color;
    }
}

.oc-button {
    padding: 9px 18px;
    text-transform: uppercase;
    color: $primary-color;
    background: $default-bg-color;
    border: 1px solid $primary-color;
    border-radius: 1px;
    transition: all .35s;

    &:hover {
        background: $primary-color;
        cursor: pointer;
        color: $default-bg-color;
    }
}