.header {
    width: 1126px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;

    &__logo {
        display: flex;
        align-items: center;
        padding: 28px 0;
        img {
            height: 26px;
        }
    }
}

.menu {
    &__items {
        display: flex;
        margin: 1.5em 0;
    }

    &__item {
        list-style: none;
        text-transform: uppercase;
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
        margin-left: 20px;


        &.oc-button {
            padding: 0;

            a {
                padding: 10px 15px;
                display: block;

                &:hover {
                    color: $default-bg-color;
                }
            }
        }
    }
}