.introduction {
    padding: 25px 0 60px;
    color: $secondary-text-color;
    display: flex;
    flex-flow: column;
    text-align: center;

    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4em;
        line-height: normal;
    }

    p {
        font-size: 1.2em;
        margin: auto;
        width: 60%;
        line-height: 2em;
        margin-bottom: 15px;
        &.introduction__text--small {
            width: 57%;
            line-height: 1.5em;
        }
    }

}