/**
 *  Media
 */

@media screen and (max-width: $max-width) {
    .header, .content__wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .introduction {
        padding: 0 15px;

        h1 {
            font-size: 2em;
        }

        p, p.introduction__text--small {
            width: 80%;
        }
    }

    .banner__content {
        padding: 0 20px;
    }

    .menu__items {
        flex-flow: column;
        align-items: center;
        padding-left: 0;
        margin: 0 0 20px 0;
    }

    .social__items, .mission__items, .blog__items, .members__images {
        flex-flow: column wrap;
        padding-bottom: 20px;
    }

    .social__item {
        margin-bottom: 25px;
    }

    .mission__item {
        margin: 0;
        margin-bottom: 70px;
        padding-right: 15px;
        padding-left: 15px;

        &:first-child {
            padding-top: 55px;
        }

        &:last-child {
            margin-bottom: 15px;
        }
    }

    .blog__items, .mission__items {
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
    }

    .members__indicators {
        display: none;
    }

    .blog__item h3 {
        white-space: normal;
        overflow: auto;
        text-overflow: initial;
    }

    .footer__text {
        padding-left: 15px;
        padding-right: 15px;
    }
}