.members {
    &__images {
        display: flex;
        overflow: hidden;

        a {
            padding: 20px 30px;
            align-items: center;
        }

        img {
            max-height: 70px;
            max-width: 140px;
        }
    }

    &__indicator-items {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        padding-top: 30px;
        max-width: 50px;
        margin: auto;

        .members__indicator {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $color-inactive;
            transition: background 0.35s;
            cursor: pointer;
            &.active, &:hover {
                background: $primary-color;
            }
        }
    }
}