.mission__items {
    display: flex;
    list-style: none;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: -30px;
    margin-right: -30px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        background: darken($secondary-bg-color, 7%);
        left: 150px;
        right: 150px;
    }
}

.mission__item {
    background: $default-bg-color;
    padding-top: 55px;
    position: relative;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    flex-flow: column;

    &-image {
        position: absolute;
        top: -40px;
        display: inline-block;
        padding: 10px;
        border-radius: 50%;
        background: $default-bg-color;
        align-self: center;

        img {
            height: 70px;
        }
    }

    &-image-cover {
        background: $primary-color;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 400;
    }
}