.banner {
    background: $secondary-bg-color;

    &__wrapper {
        display: flex;
        padding: 25px 0;
        justify-content: space-between;
        flex-flow: row;
        text-align: initial;
    }

    &__button-wrapper {
        display: flex;
        align-items: center;
    }

    &__content {
        h2 {
            font-weight: 400;
            margin: 0.2em 0;
        }

        &--special {
            color: $primary-color;
        }
    }
}