.social__items {
    display: flex;
    list-style: none;
}

.social__item {
    img {
        height: 110px;
        margin-bottom: 25px;
    }

    h3 {
        text-transform: uppercase;
        font-weight: 400;
    }
    p {
    	margin-bottom: 30px;
    }
}