/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template, [hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: 700;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

body {
    width: 100%;
    position: relative;
    background-color: #fff;
    color: #565659;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body, html {
    height: 100%;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #5bc0c3;
    text-decoration: none;
}

a:hover {
    color: #14e8ef;
    text-decoration: none;
}

p {
    font-weight: 300;
}

.clear {
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.clearfix {
    z-index: 1;
}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: '';
}

.content {
    width: 100%;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

.content__wrapper {
    width: 1126px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
}

.content__wrapper > h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.content--main {
    background-image: url("https://res.cloudinary.com/expz/image/upload/v1481828970/intro_bg_ojy7pz.png");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.content--main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.content--mission, .content--members {
    background: #f1f2f5;
}

.oc-button {
    padding: 9px 18px;
    text-transform: uppercase;
    color: #5bc0c3;
    background: #fff;
    border: 1px solid #5bc0c3;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.oc-button:hover {
    background: #5bc0c3;
    cursor: pointer;
    color: #fff;
}

a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.header {
    width: 1126px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-flow: row;
}

.header__logo {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    padding: 28px 0;
}

.header__logo img {
    height: 26px;
}

.menu__items {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    margin: 1.5em 0;
}

.menu__item {
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 20px;
}

.menu__item.oc-button {
    padding: 0;
}

.menu__item.oc-button a {
    padding: 10px 15px;
    display: block;
}

.menu__item.oc-button a:hover {
    color: #fff;
}

.introduction {
    padding: 25px 0 60px;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.introduction h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4em;
    line-height: normal;
}

.introduction p {
    font-size: 1.2em;
    width: 60%;
    line-height: 2em;
    margin: auto auto 15px;
}

.introduction p.introduction__text--small {
    width: 57%;
    line-height: 1.5em;
}

.banner {
    background: #f1f2f5;
}

.banner__wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    padding: 25px 0;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-flow: row;
    text-align: initial;
}

.banner__button-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
}

.banner__content h2 {
    font-weight: 400;
    margin: .2em 0;
}

.banner__content--special {
    color: #5bc0c3;
}

.social__items {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    list-style: none;
}

.social__item img {
    height: 110px;
    margin-bottom: 25px;
}

.social__item h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.mission__items {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    list-style: none;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: -30px;
    margin-right: -30px;
    position: relative;
}

.mission__items::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    background: #dcdfe6;
    left: 150px;
    right: 150px;
}

.mission__item {
    background: #fff;
    padding-top: 55px;
    position: relative;
    margin: 0 30px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-flow: column;
}

.mission__item-image {
    position: absolute;
    top: -40px;
    display: inline-block;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    align-self: center;
}

.mission__item-image img {
    height: 70px;
}

.mission__item-image-cover {
    background: #5bc0c3;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
}

.mission__item h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.members__images {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    overflow: hidden;
}

.members__images a {
    padding: 20px 30px;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
}

.members__images img {
    max-height: 70px;
    max-width: 140px;
}

.members__indicator-items {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
    max-width: 50px;
    margin: auto;
}

.members__indicator-items .members__indicator {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #5bc0c3;
}

.blog__items {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}

.blog__item {
    text-align: left;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    flex: 0 0 25%;
    min-width: 0;
    padding: 0 15px;
}

.blog__item h3 {
    color: #5bc0c3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

footer {
    background: #454850;
}

.footer__links ul {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    list-style: none;
    padding-top: 30px;
    position: relative;
}

.footer__links ul::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    background: #565963;
    left: 150px;
    right: 150px;
}

.footer__link {
    width: 50px;
    height: 50px;
    background: url(../images//social.png) no-repeat;
    -moz-background-size: 230%;
    -o-background-size: 230%;
    background-size: 230%;
}

.footer__link--fb {
    background-position: 15px 0;
}

.footer__link--tw {
    background-position: -31px 0;
}

.footer__link--gp {
    background-position: -84px 0;
}

.footer__link a {
    width: 100%;
    height: 100%;
    display: block;
}

.footer__text {
    text-align: center;
    color: #969eb7;
    padding-bottom: 40px;
}

@media screen and (max-width: 479px) {
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .content {
        width: 970px;
    }
}

@media screen and (max-width: 1199px) {
    .content {
        width: 1126px;
    }
}