/**
 *  Config
 */

$min-width: 320px;
$max-width-sm: 479px;
$max-width: 991px;
$max-width-size: 970px;
$max-width-lg: 1199px;
$max-width-lg-size: 1126px;

$font-size: 14px;
$line-height: 20px;
$font-family: "Roboto", Helvetica, Arial, sans-serif;

$primary-color: #5bc0c3;

$default-color: #565659;
$default-bg-color: #fff;
$secondary-bg-color: #f1f2f5;
$ternary-bg-color: #454850;

$default-color-link: $primary-color;
$default-color-link-hover: #14e8ef;

$default-animation-speed: 0.35s;

$secondary-text-color: #fff;
$ternary-text-color: #969eb7;

$color-inactive: #979EB2;

$img-url: "../../images/";
$pic-url: "../pictures/";
$font-url: "../fonts/";