/**
 *  Body
 */

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $default-bg-color;
    color: $default-color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $default-color-link;
    text-decoration: none;

    &:hover {
        color: $default-color-link-hover;
        text-decoration: none;
    }
}

p {
    font-weight: 300;
}

.clear {
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
}

.clearfix {
    z-index: 1;

    &::after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        content: '';
    }
}